<app-filter></app-filter>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.date }}</td>
  </ng-container>

  <ng-container matColumnDef="property">
    <th mat-header-cell *matHeaderCellDef>Property</th>
    <td mat-cell *matCellDef="let transaction">
      {{ this.propertyService.getPropertyById(transaction.propertyId)!.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let transaction">
      {{ transaction.category === "in" ? "Income" : "Expense" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="subcategory">
    <th mat-header-cell *matHeaderCellDef>Subcategory</th>
    <td mat-cell *matCellDef="let transaction">
      {{
        this.propertyService.getOption(
          transaction.propertyId,
          transaction.optionId
        )!.name
      }}
    </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td
      mat-cell
      *matCellDef="let transaction"
      contenteditable="true"
      (input)="onAmountChange(transaction.transactionId, $event)"
    >
      {{ transaction.amount | currency : "CAD" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="payment_form">
    <th mat-header-cell *matHeaderCellDef>Payment Form</th>
    <td mat-cell *matCellDef="let transaction">
      {{ transaction.paymentForm }}
    </td>
  </ng-container>
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td
      mat-cell
      *matCellDef="let transaction"
      contenteditable="true"
      (input)="onCommentChange(transaction.transactionId, $event)"
    >
      {{ transaction.comment }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let transaction">
      @if(hasChanges(transaction.transactionId) | async) {
      <button class="icon-button">
        <img src="assets/check.png" alt="Save" (click)="onSave(transaction)" />
      </button>
      }

      <button class="icon-button" (click)="delete(transaction.transactionId)">
        <img src="assets/trash-bin.png" alt="Delete" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of transactions"
>
</mat-paginator>
<p></p>
<button type="button" (click)="downloadTransactions()">Download file</button>
